# Dependencias
node_modules/

# Variables de entorno y secretos
.env
.env.*
!.env.example

# Pruebas y Cobertura (Coverage)
coverage/
*.lcov

# Archivos de compilación (TypeScript)
dist
build/

# Archivos de logs y del sistema
*.log
.DS_Store
.idea/